<!doctype html>
<html>
  <head>
    <title>{% if config['WEBSITE_TITLE'] %} {{ config['WEBSITE_TITLE'] }} {% else %} Solus logs {% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">{% if not config['LOGO_TEXT'] %}<img src="{% if config['LOGO_IMG'] %} {{ url_for('static', filename='images/' + config['LOGO_IMG']) }}"  class="img-responsive" style="width: 50%;"> {% else %} {{ url_for('static', filename='images/logo.png') }}" class="img-responsive" style="width: 50%;">{% endif %} {% else %} {% if config['LOGO_TEXT'] %} {{ config['LOGO_TEXT'] }} {% else %} Solus logs {% endif %} {% endif %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url_for('index') }}">{% if config['INDEX_PAGE_NAME'] %}{{ config['INDEX_PAGE_NAME'] }}{% else %}Logs{% endif %}</a></li>
            {% if session.logged_in %}
              <li><a href="{{ url_for('drafts') }}">Drafts</a></li>
              <li><a href="{{ url_for('create') }}">Create Entry</a></li>
            {% endif %}
            {% block extra_header %}{% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <li><a href="{{ url_for('logout') }}">Sign out</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Sign in</a></li>
            {% endif %}
            {% block search_bar %}
              <form action="{{ url_for('index') }}" class="navbar-form navbar-right" id="search-form" method="get" role="search">
                <div class="form-group">
                  <input class="form-control input-sm" name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
                </div>
              </form>
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}

      {% block page_header %}
          <h2>{% block content_title %}{% endblock %}</h2>
      {% endblock %}

      {% block content %}{% endblock %}

      <footer>
        <hr />
        <h6>{% if config['FOOTER_TEXT'] %} {{ config['FOOTER_TEXT']|safe }} {% else %}2017 &copy; Solus logs, a non-official logger of Solus Project, created by bx0 (Lucas Nunes) while learning <a href="http://flask.pocoo.org/" target="_blank">Flask</a> <br> The Solus logo is Copyright © 2016-2017 <a href="https://solus-project.com/" target="_blank">Solus Project</a>{% endif %}</h6>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>
    <script>
    $( document ).ready(function() {
      run();
      $('#content').bind('input propertychange', function() {
        run();
      });
    });

    function run() {
      var converter = new showdown.Converter(),
        text      = document.getElementById('content').value,
        target    = document.getElementById('preview'),
        html      = converter.makeHtml(text);
        target.innerHTML = html;
    }
    </script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>