{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %} <div class="container">{{ entry.title|upper }}</div> {% endblock %}

{% block extra_header %}
  {% if session.logged_in %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
    <li><a class="text-danger" href="{{ url_for('delete', slug=entry.slug) }}">Delete entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
	<h5 class="text-right" style="font-size:13px;">{% if public %}<span class="label label-success">Public</span>{% elif draft %}<span class="label label-primary">Draft</span>{% elif private %}<span class="label label-warning">Private</span>{% endif %} <strong>{{ entry.timestamp.strftime('%B %d, %Y at %I:%M %p') }}</strong> by <a href="{{ url_for('profile', username=entry.get_user(entry.user_id).username) }}" data-toggle="tooltip" data-placement="bottom" title="{{ entry.get_user(entry.user_id).name }}" style="float:right;margin-left: 6px;margin-top: -5px;"><div class="circle-avatar" style="background-image:url({{ entry.get_user(entry.user_id).avatar(120) }});"></div></a></h5>
	<textarea style="display: none;" id="content" cols="30" rows="10">{{ entry.html_content }}</textarea>
	<div id="preview" class="markdown"></div>
</div>
  
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/markdown-it.min.js') }}"></script>
    <script>
    $( document ).ready(function() {
      run();
      $('[data-toggle="tooltip"]').tooltip(); 
    });

    function run() {
        var mdText = document.getElementById('content').value;

        var md = window.markdownit({
            html: true,
            linkify: true,
            typographer: true
        });

        // HOWTO: Render the xmp#markdown content as html
        document.getElementById('preview').innerHTML = md.render(mdText);
    }
    </script>
{% endblock %}